@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,800;1,200;1,500&display=swap');



/* html {
  font-size: 62.5%; 
   overflow-x: hidden; 
} */

html::-webkit-scrollbar {
  width: 2rem;
}

html::-webkit-scrollbar-track {
  background: #0d0d0d;
}

html::-webkit-scrollbar-thumb {
  background: rgba(71, 224, 51, 0.74);
  border-radius: 5rem;
}


section {
  padding: 5rem 9%;
}




.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: rgba(71, 224, 51, 0.74);
  padding: .7rem;
  font-size: 1 rem;
  color: rgb(27, 27, 27);
  padding-left: 2rem;
  padding-right: 2rem;
}



.home {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 4rem;
    min-height: calc(90vh - 6.0rem);
  }
  
  .home .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20rem;
            flex: 1 1 20rem;
    text-align: center;
    border: rgba(71, 224, 51, 0.74);
  }
  
  .home .image img {
    height: 30rem;
    width: 30rem;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
   
    
  }
  
  .home .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30rem;
            flex: 1 1 30rem;
  }
  
  .home .content h3 {
    color: rgb(15, 15, 15);
    font-size: 2rem;
    padding-bottom: .5rem;
  }
  
  .home .content span {
    font-size: 1.5rem;
    color:rgba(71, 224, 51, 0.74);
    padding: .5rem 0;
    display: block;
  }
  
  .home .content p {
    font-size: 1rem;
    color: rgb(44, 42, 42);
    padding: 1rem 0;
    line-height: 2;
  }