<h3 class="mb-4 border-bottom pb-1">Filters</h3>
			
			<!-- Filter 2 -->
			<div class="card mb-4">
				<h6 class="card-header">Categories</h6>
				<div class="list-group list-group-flush">
                    {% for cat in cats %}
					<li class="list-group-item">
						<input value="{{cat.id}}" type="checkbox" />
						{{cat.title}}
					</li>
                    {% endfor %}
				</div>
			</div>
			<!-- Filter 3 -->
			<div class="card mb-4">
				<h6 class="card-header">Publishers</h6>
				<div class="list-group list-group-flush">
                    {% for pub in publishers %}
					<li class="list-group-item">
						<input value="{{pub.id}}" type="checkbox" />
						{{pub.title}}
					</li>
                    {% endfor %}
				</div>
			</div>
			<!-- Filter 3 -->