{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
  Sign Up
{% endblock %}
{% block content %}>

    <section>
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="card">
                <div class="card-header text-black">
                  <h2>Sign Up</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                       <div class="col-lg-6">
                        <a type="button" class="btn btn-block" href="{% url 'customer_register' %}">Customer Sign Up</a>
                       </div>
                       <div class="col-lg-6">
                        <a type="button" class="btn btn-block" href="{% url 'employee_register' %}">Vendor Sign Up</a>
                       </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}